# ------------------ #
# power constraints  #
# ------------------ #

CONFIG VCCAUX=2.5;

# ------------------ #
# timing constraints #
# ------------------ #

NET "CLK" TNM_NET = "TMN_CLK";
TIMESPEC "TS_CLK" = PERIOD "TMN_CLK" 50MHz HIGH 50%;

#NET "Inst_system/clk_20MHz" TNM_NET="clk_20mhz_net";
#TIMESPEC "TS_clk_20mhz_net"=PERIOD "clk_20mhz_net" 100 ns HIGH 50 %;

# ------------------ #
# pin constraints    #
# ------------------ #

NET "CLK" LOC="A10" | IOSTANDARD="LVCMOS33"; #A10 & B10
NET "nRST" LOC="U6" | IOSTANDARD="LVCMOS33";

NET "nLED<0>" LOC="B16" | IOSTANDARD="LVCMOS33"; # active low - green
NET "nLED<1>" LOC="A17" | IOSTANDARD="LVCMOS33"; # active low - green
NET "nLED<2>" LOC="A18" | IOSTANDARD="LVCMOS33"; # active low - red
NET "nLED<3>" LOC="B18" | IOSTANDARD="LVCMOS33"; # active low - red

#NET "nDIP<0>" LOC="D13" | IOSTANDARD="LVCMOS33"; # active low
#NET "nDIP<1>" LOC="C14" | IOSTANDARD="LVCMOS33"; # active low
#NET "nDIP<2>" LOC="D14" | IOSTANDARD="LVCMOS33"; # active low
#NET "nDIP<3>" LOC="F15" | IOSTANDARD="LVCMOS33"; # active low

#NET "RS232_1_RX" LOC="B3" | IOSTANDARD="LVCMOS33";
#NET "RS232_1_TX" LOC="A2" | IOSTANDARD="LVCMOS33";

NET "LVDS_RX<0>" LOC="C1" | IOSTANDARD="LVCMOS33";
NET "LVDS_TX<0>" LOC="D2" | IOSTANDARD="LVCMOS33";
NET "LVDS_RX<1>" LOC="D1" | IOSTANDARD="LVCMOS33";
NET "LVDS_TX<1>" LOC="E1" | IOSTANDARD="LVCMOS33";

#NET "FPGA_TEMP_nCS" LOC="AB19" | IOSTANDARD="LVCMOS33";
#NET "FPGA_TEMP_CLK" LOC="AB21" | IOSTANDARD="LVCMOS33";
#NET "FPGA_TEMP_DAT" LOC="AA21" | IOSTANDARD="LVCMOS33";

#NET "VOLTAGE_nCS" LOC="Y9"  | IOSTANDARD="LVCMOS33";
#NET "VOLTAGE_CLK" LOC="AB8" | IOSTANDARD="LVCMOS33";
#NET "VOLTAGE_DAT" LOC="AA8" | IOSTANDARD="LVCMOS33";

# ------ SPI-PROM --------
NET "PROM_SCK"   LOC="Y21" | IOSTANDARD="LVCMOS33";
NET "PROM_nCS"   LOC="T5"  | IOSTANDARD="LVCMOS33";
NET "PROM_MISO"  LOC="AA20" | IOSTANDARD="LVCMOS33";
NET "PROM_MOSI"  LOC="AB20" | IOSTANDARD="LVCMOS33";
NET "PROM_nWP"   LOC="U14" | IOSTANDARD="LVCMOS33";
NET "PROM_nHOLD" LOC="U13" | IOSTANDARD="LVCMOS33";

# ------ SDRAM --------
#NET "SDRAM_CLK_P" LOC="H20" | IOSTANDARD="DIFF_SSTL2_II";
#NET "SDRAM_CLK_N" LOC="J19" | IOSTANDARD="DIFF_SSTL2_II";
#NET "SDRAM_CKE"   LOC="D21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_nWE"   LOC="H19" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_nRAS"  LOC="H21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_nCAS"  LOC="H22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_LDQS"  LOC="L20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_UDQS"  LOC="T21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_LDM"   LOC="L19" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_UDM"   LOC="M20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_BA<0>" LOC="J17" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_BA<1>" LOC="K17" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_RZQ"   LOC="A20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_ZIO"  LOC="M19" | IOSTANDARD="SSTL2_II";

#NET "SDRAM_A<0>" LOC="F21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<1>" LOC="F22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<2>" LOC="E22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<3>" LOC="G20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<4>" LOC="F20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<5>" LOC="K20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<6>" LOC="K19" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<7>" LOC="E20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<8>" LOC="C20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<9>" LOC="C22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<10>" LOC="G19" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<11>" LOC="F19" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_A<12>" LOC="D22" | IOSTANDARD="SSTL2_II";

#NET "SDRAM_DQ<0>" LOC="N20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<1>" LOC="N22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<2>" LOC="M21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<3>" LOC="M22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<4>" LOC="J20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<5>" LOC="J22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<6>" LOC="K21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<7>" LOC="K22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<8>" LOC="P21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<9>" LOC="P22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<10>" LOC="R20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<11>" LOC="R22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<12>" LOC="U20" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<13>" LOC="U22" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<14>" LOC="V21" | IOSTANDARD="SSTL2_II";
#NET "SDRAM_DQ<15>" LOC="V22" | IOSTANDARD="SSTL2_II";

# ------ GPIOs --------
#NET "GPIO_1<0>" LOC="A16" | IOSTANDARD="LVCMOS33"; # 1P
#NET "GPIO_1<1>" LOC="A15" | IOSTANDARD="LVCMOS33"; # 1N
#NET "GPIO_1<2>" LOC="B14" | IOSTANDARD="LVCMOS33"; # 2P
#NET "GPIO_1<3>" LOC="A14" | IOSTANDARD="LVCMOS33"; # 2N
#NET "GPIO_1<4>" LOC="A13" | IOSTANDARD="LVCMOS33"; # 3P
#NET "GPIO_1<5>" LOC="B12" | IOSTANDARD="LVCMOS33"; # 3N
#NET "GPIO_1<6>" LOC="A12" | IOSTANDARD="LVCMOS33"; # 4P
#NET "GPIO_1<7>" LOC="A11" | IOSTANDARD="LVCMOS33"; # 4N
#NET "GPIO_2<0>" LOC="A9"  | IOSTANDARD="LVCMOS33"; # 5P
#NET "GPIO_2<1>" LOC="A8"  | IOSTANDARD="LVCMOS33"; # 5N
#NET "GPIO_2<2>" LOC="B8"  | IOSTANDARD="LVCMOS33"; # 6P
#NET "GPIO_2<3>" LOC="A7"  | IOSTANDARD="LVCMOS33"; # 6N
#NET "GPIO_2<4>" LOC="A6"  | IOSTANDARD="LVCMOS33"; # 7P
#NET "GPIO_2<5>" LOC="B6"  | IOSTANDARD="LVCMOS33"; # 7N
#NET "GPIO_2<6>" LOC="A5"  | IOSTANDARD="LVCMOS33"; # 8P
#NET "GPIO_2<7>" LOC="A4"  | IOSTANDARD="LVCMOS33"; # 8N

# ----- MOTOR DRIVER -----

# MOTOR 1 (drivers2.driver7 - drivers2.driver9) ??
# ------- (sensors2.hall1 & sensors2.enc1) ??
#NET "HALL1<0>" LOC="Y8" | IOSTANDARD="LVCMOS33";
#NET "HALL2<0>" LOC="Y4" | IOSTANDARD="LVCMOS33";
#NET "HALL3<0>" LOC="Y7" | IOSTANDARD="LVCMOS33";

#NET "P1_H<0>" LOC="P3" | IOSTANDARD="LVCMOS33";
#NET "P1_L<0>" LOC="U1" | IOSTANDARD="LVCMOS33";
#NET "P2_H<0>" LOC="N4" | IOSTANDARD="LVCMOS33";
#NET "P2_L<0>" LOC="T2" | IOSTANDARD="LVCMOS33";
#NET "P3_H<0>" LOC="N3" | IOSTANDARD="LVCMOS33";
#NET "P3_L<0>" LOC="T1" | IOSTANDARD="LVCMOS33";
#
#NET "ADC_SCLK<0>" LOC="AA18" | IOSTANDARD="LVCMOS33"; # motor 1-3
#NET "ADC_nCS<0>"  LOC="AB15" | IOSTANDARD="LVCMOS33"; # motor 1-3
#NET "ADC_DA<0>"   LOC="AB11" | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<0>"   LOC="Y13"  | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<0>"   LOC="AB10" | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<0>"    LOC="AA4"  | IOSTANDARD="LVCMOS33";
#NET "ENC_B<0>"    LOC="W3"   | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<0>"   LOC="A9"  | IOSTANDARD="LVCMOS33"; # GPIO_5P
#NET "ICH_SLO<0>"  LOC="A8"  | IOSTANDARD="LVCMOS33"; # GPIO_5N
#
#NET "POWER_TEMP_nCS<0>" LOC="W12"  | IOSTANDARD="LVCMOS33"; # motor 1-3
#NET "POWER_TEMP_CLK<0>" LOC="AB9"  | IOSTANDARD="LVCMOS33"; # motor 1-3
#NET "POWER_TEMP_DAT<0>" LOC="AA12" | IOSTANDARD="LVCMOS33";
#
#NET "LED1<0>" LOC="Y18"  | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<0>" LOC="AB16" | IOSTANDARD="LVCMOS33"; # red
#
## MOTOR 2 (drivers2.driver4 - drivers2.driver6)
## ------- (sensors2.hall2 & sensors2.enc2)
#NET "HALL1<1>" LOC="AA6" | IOSTANDARD="LVCMOS33";
#NET "HALL2<1>" LOC="W4"  | IOSTANDARD="LVCMOS33";
#NET "HALL3<1>" LOC="AB6" | IOSTANDARD="LVCMOS33";
#
#NET "P1_H<1>" LOC="W1" | IOSTANDARD="LVCMOS33";
#NET "P1_L<1>" LOC="R4" | IOSTANDARD="LVCMOS33";
#NET "P2_H<1>" LOC="V2" | IOSTANDARD="LVCMOS33";
#NET "P2_L<1>" LOC="R3" | IOSTANDARD="LVCMOS33";
#NET "P3_H<1>" LOC="V1" | IOSTANDARD="LVCMOS33";
#NET "P3_L<1>" LOC="P4" | IOSTANDARD="LVCMOS33";
#
#NET "ADC_DA<1>"   LOC="AB18" | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<1>"   LOC="AB12" | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<1>"   LOC="Y14"  | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<1>"    LOC="V3"   | IOSTANDARD="LVCMOS33";
#NET "ENC_B<1>"    LOC="AB3"  | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<1>"   LOC="B8"  | IOSTANDARD="LVCMOS33"; # GPIO_6P
#NET "ICH_SLO<1>"  LOC="A7"  | IOSTANDARD="LVCMOS33"; # GPIO_6N
#
#NET "POWER_TEMP_DAT<1>" LOC="AB13" | IOSTANDARD="LVCMOS33";
#
#NET "LED1<1>" LOC="Y19"  | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<1>" LOC="AA16" | IOSTANDARD="LVCMOS33"; # red
#
## MOTOR 3 (drivers2.driver1 - drivers2.driver3) ??
## ------- (sensors2.hall3 & sensors2.enc3) ??
#NET "HALL1<2>" LOC="AB7" | IOSTANDARD="LVCMOS33";
#NET "HALL2<2>" LOC="Y3"  | IOSTANDARD="LVCMOS33";
#NET "HALL3<2>" LOC="AB4" | IOSTANDARD="LVCMOS33";
#
#NET "P1_H<2>" LOC="AA2" | IOSTANDARD="LVCMOS33";
#NET "P1_L<2>" LOC="U3"  | IOSTANDARD="LVCMOS33";
#NET "P2_H<2>" LOC="Y2"  | IOSTANDARD="LVCMOS33";
#NET "P2_L<2>" LOC="T4"  | IOSTANDARD="LVCMOS33";
#NET "P3_H<2>" LOC="Y1"  | IOSTANDARD="LVCMOS33";
#NET "P3_L<2>" LOC="T3"  | IOSTANDARD="LVCMOS33";
#
#NET "ADC_DA<2>"   LOC="AA14" | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<2>"   LOC="Y17"  | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<2>"   LOC="AB14" | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<2>"    LOC="AB2"  | IOSTANDARD="LVCMOS33";
#NET "ENC_B<2>"    LOC="U4"   | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<2>"   LOC="A6"  | IOSTANDARD="LVCMOS33"; # GPIO_7P
#NET "ICH_SLO<2>"  LOC="B6"  | IOSTANDARD="LVCMOS33"; # GPIO_7N
#
#NET "POWER_TEMP_DAT<2>" LOC="Y12"  | IOSTANDARD="LVCMOS33";
#
#NET "LED1<2>" LOC="W18"  | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<2>" LOC="AB17" | IOSTANDARD="LVCMOS33"; # red
#
## MOTOR 4 (drivers1.driver7 - drivers1.driver9)
## ------- (sensors1.hall1 & sensors1.enc1)
#NET "HALL1<3>" LOC="C4" | IOSTANDARD="LVCMOS33";
#NET "HALL2<3>" LOC="F2" | IOSTANDARD="LVCMOS33";
#NET "HALL3<3>" LOC="C3" | IOSTANDARD="LVCMOS33";
#
#NET "P1_H<3>" LOC="P1" | IOSTANDARD="LVCMOS33";
#NET "P1_L<3>" LOC="L4" | IOSTANDARD="LVCMOS33";
#NET "P2_H<3>" LOC="P2" | IOSTANDARD="LVCMOS33";
#NET "P2_L<3>" LOC="M4" | IOSTANDARD="LVCMOS33";
#NET "P3_H<3>" LOC="R1" | IOSTANDARD="LVCMOS33";
#NET "P3_L<3>" LOC="M3" | IOSTANDARD="LVCMOS33";
#
#NET "ADC_SCLK<1>" LOC="D15" | IOSTANDARD="LVCMOS33"; # motor 4-6
#NET "ADC_nCS<1>"  LOC="D10" | IOSTANDARD="LVCMOS33"; # motor 4-6
#NET "ADC_DA<3>"   LOC="C7"  | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<3>"   LOC="E12" | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<3>"   LOC="D7"  | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<3>"    LOC="G4"  | IOSTANDARD="LVCMOS33";
#NET "ENC_B<3>"    LOC="H2"  | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<3>"   LOC="A16"  | IOSTANDARD="LVCMOS33"; # GPIO_1P
#NET "ICH_SLO<3>"  LOC="A15"  | IOSTANDARD="LVCMOS33"; # GPIO_1N
#
#NET "POWER_TEMP_nCS<1>" LOC="F13" | IOSTANDARD="LVCMOS33"; # motor 4-6
#NET "POWER_TEMP_CLK<1>" LOC="C6"  | IOSTANDARD="LVCMOS33"; # motor 4-6
#NET "POWER_TEMP_DAT<3>" LOC="D8"  | IOSTANDARD="LVCMOS33";
#
#NET "LED1<3>" LOC="C15" | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<3>" LOC="C10" | IOSTANDARD="LVCMOS33"; # red
#
## MOTOR 5 (drivers1.driver4 - drivers1.driver6)
## ------- (sensors1.hall2 & sensors1.enc2)
#NET "HALL1<4>" LOC="D3" | IOSTANDARD="LVCMOS33";
#NET "HALL2<4>" LOC="F1" | IOSTANDARD="LVCMOS33";
#NET "HALL3<4>" LOC="E4" | IOSTANDARD="LVCMOS33";
#
#NET "P1_H<4>" LOC="K4" | IOSTANDARD="LVCMOS33";
#NET "P1_L<4>" LOC="M1" | IOSTANDARD="LVCMOS33";
#NET "P2_H<4>" LOC="K3" | IOSTANDARD="LVCMOS33";
#NET "P2_L<4>" LOC="M2" | IOSTANDARD="LVCMOS33";
#NET "P3_H<4>" LOC="L3" | IOSTANDARD="LVCMOS33";
#NET "P3_L<4>" LOC="N1" | IOSTANDARD="LVCMOS33";
#
#NET "ADC_DA<4>"   LOC="F14" | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<4>"   LOC="C8"  | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<4>"   LOC="C12" | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<4>"    LOC="H1"  | IOSTANDARD="LVCMOS33";
#NET "ENC_B<4>"    LOC="G3"  | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<4>"   LOC="B14"  | IOSTANDARD="LVCMOS33"; # GPIO_2P
#NET "ICH_SLO<4>"  LOC="A14"  | IOSTANDARD="LVCMOS33"; # GPIO_2N
#
#NET "POWER_TEMP_DAT<4>" LOC="D6"  | IOSTANDARD="LVCMOS33";
#
#NET "LED1<4>" LOC="C16" | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<4>" LOC="D11" | IOSTANDARD="LVCMOS33"; # red
#
## MOTOR 6 (drivers1.driver1 - drivers1.driver3)
## ------- (sensors1.hall3 & sensors1.enc3)
#NET "HALL1<5>" LOC="E3" | IOSTANDARD="LVCMOS33";
#NET "HALL2<5>" LOC="G1" | IOSTANDARD="LVCMOS33";
#NET "HALL3<5>" LOC="F3" | IOSTANDARD="LVCMOS33";
#
#NET "P1_H<5>" LOC="H3" | IOSTANDARD="LVCMOS33";
#NET "P1_L<5>" LOC="K2" | IOSTANDARD="LVCMOS33";
#NET "P2_H<5>" LOC="J4" | IOSTANDARD="LVCMOS33";
#NET "P2_L<5>" LOC="K1" | IOSTANDARD="LVCMOS33";
#NET "P3_H<5>" LOC="J3" | IOSTANDARD="LVCMOS33";
#NET "P3_L<5>" LOC="L1" | IOSTANDARD="LVCMOS33";
#
#NET "ADC_DA<5>"   LOC="C9"  | IOSTANDARD="LVCMOS33";
#NET "ADC_DB<5>"   LOC="E14" | IOSTANDARD="LVCMOS33";
#NET "ADC_DC<5>"   LOC="D9"  | IOSTANDARD="LVCMOS33";
#
#NET "ENC_A<5>"    LOC="H4"  | IOSTANDARD="LVCMOS33";
#NET "ENC_B<5>"    LOC="J1"  | IOSTANDARD="LVCMOS33";
#
#NET "ICH_MA<5>"   LOC="A13"  | IOSTANDARD="LVCMOS33"; # GPIO_3P
#NET "ICH_SLO<5>"  LOC="B12"  | IOSTANDARD="LVCMOS33"; # GPIO_3N
#
#NET "POWER_TEMP_DAT<5>" LOC="E10" | IOSTANDARD="LVCMOS33";
#
#NET "LED1<5>" LOC="C17" | IOSTANDARD="LVCMOS33"; # green
#NET "LED2<5>" LOC="D12" | IOSTANDARD="LVCMOS33"; # red
