# ------------------ #
# timing constraints #
# ------------------ #

NET "CLK_IN" TNM_NET="TNM_CLK_IN";
TIMESPEC "TS_CLK_IN" = PERIOD "TNM_CLK_IN" 20MHz HIGH 50%;

#NET "CLK2_IN" TNM_NET = "TNM_CLK2_IN";
#TIMESPEC "TS_CLK2_IN" = PERIOD "TNM_CLK2_IN" 20MHz HIGH 50%;

# ------------------ #
# pin constraints    #
# ------------------ #

NET "CLK_IN"    LOC=H18;
#NET "CLK2_IN"   LOC=H17;
NET "nRST_IN"   LOC=N18;
#NET "nRST_OUT" LOC=A2; # PAD<13>
NET "LED<0>" LOC=G16;
NET "LED<1>" LOC=U18;

# pins for communication
NET "TX1" LOC=K13;
NET "RX1" LOC=L13;
NET "TX2" LOC=K14;
NET "RX2" LOC=K12;

# hall sensor inputs
NET "HALL1" LOC=V4;
NET "HALL2" LOC=T9;
NET "HALL3" LOC=T4;

# halfbridge outputs
NET "P1_HIN" LOC=N16;
NET "P1_LIN" LOC=N17;
NET "P2_HIN" LOC=P18;
NET "P2_LIN" LOC=M16;
NET "P3_HIN" LOC=T18;
NET "P3_LIN" LOC=L15;

# pins for current adcs
NET "ADC_nCS"  LOC=T17;
NET "ADC_CLK"  LOC=K15;
NET "ADC_SDOA" LOC=K16;
NET "ADC_SDOB" LOC=K17;
NET "ADC_SDOC" LOC=J16;

# pins for absolute angular encoder
NET "ICH_MA"  LOC=T6;
NET "ICH_SLO" LOC=V5;

# pins for optical encoder
NET "ENC_A" LOC=J13;
NET "ENC_B" LOC=V9;

# pins for i2c temperature and power sensors
NET "i2c_con_scl"   LOC=U8;
NET "i2c_con_sda"   LOC=V7;
NET "i2c_power_scl" LOC=G13;
NET "i2c_power_sda" LOC=G14;

# pins for spi eeprom
NET "PROM_nCS"   LOC=V3;
NET "PROM_CLK"   LOC=R15;
NET "PROM_nWP"   LOC=T14;
NET "PROM_nHOLD" LOC=V14;
NET "PROM_MISO"  LOC=R13;
NET "PROM_MOSI"  LOC=T13;
#NET "PROM_INITB" LOC=U3;

# debug pads
#NET "PAD<0>"  LOC=A15;
#NET "PAD<1>"  LOC=A14;
#NET "PAD<2>"  LOC=A13;
#NET "PAD<3>"  LOC=A12;
#NET "PAD<4>"  LOC=A11;
#NET "PAD<5>"  LOC=A10;
#NET "PAD<6>"  LOC=A9;
#NET "PAD<7>"  LOC=A8;
#NET "PAD<8>"  LOC=A7;
#NET "PAD<9>"  LOC=A6;
#NET "PAD<10>" LOC=A5;
#NET "PAD<11>" LOC=A4;
#NET "PAD<12>" LOC=A3;
#NET "PAD<13>" LOC=A2;

# pins for sdram
#NET "RZQ" LOC=L6;
#NET "SDRAM_A<0>" LOC=J7;
#NET "SDRAM_A<1>" LOC=J6;
#NET "SDRAM_A<2>" LOC=H5;
#NET "SDRAM_A<3>" LOC=L7;
#NET "SDRAM_A<4>" LOC=F3;
#NET "SDRAM_A<5>" LOC=H4;
#NET "SDRAM_A<6>" LOC=H3;
#NET "SDRAM_A<7>" LOC=H6;
#NET "SDRAM_A<8>" LOC=D2;
#NET "SDRAM_A<9>" LOC=D1;
#NET "SDRAM_A<10>" LOC=F4;
#NET "SDRAM_A<11>" LOC=D3;
#NET "SDRAM_A<12>" LOC=G6;
#NET "SDRAM_BA<0>" LOC=F2;
#NET "SDRAM_BA<1>" LOC=F1;
#NET "SDRAM_CKE" LOC=H7;
#NET "SDRAM_CLK_N" LOC=G1;
#NET "SDRAM_CLK_P" LOC=G3;
#NET "SDRAM_D<0>" LOC=L2;
#NET "SDRAM_D<1>" LOC=L1;
#NET "SDRAM_D<2>" LOC=K2;
#NET "SDRAM_D<3>" LOC=K1;
#NET "SDRAM_D<4>" LOC=H2;
#NET "SDRAM_D<5>" LOC=H1;
#NET "SDRAM_D<6>" LOC=J3;
#NET "SDRAM_D<7>" LOC=J1;
#NET "SDRAM_D<8>" LOC=M3;
#NET "SDRAM_D<9>" LOC=M1;
#NET "SDRAM_D<10>" LOC=N2;
#NET "SDRAM_D<11>" LOC=N1;
#NET "SDRAM_D<12>" LOC=T2;
#NET "SDRAM_D<13>" LOC=T1;
#NET "SDRAM_D<14>" LOC=U2;
#NET "SDRAM_D<15>" LOC=U1;
#NET "SDRAM_LDM" LOC=K3;
#NET "SDRAM_LDQS" LOC=L4;
#NET "SDRAM_NCAS" LOC=K5;
#NET "SDRAM_NRAS" LOC=L5;
#NET "SDRAM_NWE" LOC=E3;
#NET "SDRAM_UDM" LOC=K4;
#NET "SDRAM_UDQS" LOC=P2;
#NET "SPARE_P2" LOC=U17;
#NET "ZIO" LOC=N4;

#NET "BLDC_COMM_SD_CLK" LOC=T3;
#NET "BLDC_COMM_SD_CS" LOC=T8;
#NET "BLDC_COMM_SD_MISO" LOC=R11;
#NET "BLDC_COMM_SD_MOSI" LOC=R5;
#NET "BLDC_COMM_SIG_1" LOC=V6;
#NET "BLDC_COMM_SIG_2" LOC=V8;
#NET "BLDC_POWER2_LED1" LOC=V16;
#NET "BLDC_POWER2_LED2" LOC=N15;
#NET "BLDC_POWER2_HIN_A" LOC=V10;
#NET "BLDC_POWER2_HIN_B" LOC=V11;
#NET "BLDC_POWER2_HIN_C" LOC=M13;
#NET "BLDC_POWER2_LIN_A" LOC=U11;
#NET "BLDC_POWER2_LIN_B" LOC=T11;
#NET "BLDC_POWER2_LIN_C" LOC=P12;
#NET "BLDC_POWER2_ACS" LOC=V12;
#NET "BLDC_POWER2_ADOUTA" LOC=V13;
#NET "BLDC_POWER2_ADOUTB" LOC=U13;
#NET "BLDC_POWER2_ADOUTC" LOC=N14;
#NET "BLDC_POWER2_ASCLK" LOC=T12;
#NET "BLDC_POWER2_TCLK" LOC=V15;
#NET "BLDC_POWER2_TSDA" LOC=P15;
